---

const {frontmatter} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Title</title>
</head>
<body>
  This layout is empty and needs to be used for posts
  <slot />

  <time 
  datetime={frontmatter?.pubDate ||  new Date().getFullYear() }
  >
  {frontmatter?.pubDate||new Date().getFullYear()}
  </time>
</body>
</html>